@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fas fa-dumbbell"></i> Welcome <i class="fas fa-dumbbell"></i></h1>
    <p>This is a prototype of an app one might write if they were trying to get a nice job.</p>
</div>

